 <% content_for :css do -%>
  <% stylesheet_link_tag 'partiel_cv', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end -%>

<main>
    <div id="container" class="container" data-source= <%= $check_redirect_to.to_json %> >
        <article class="titre">
            <div>Mon CV</div>
        </article>
        <article class="main">
        <%=tag.iframe src: (asset_path('cv.pdf')+'#view=FitH&scrollbar=0&toolbar=0&statusbar=0&messages=0&navpanes=0'), type: "application/pdf",  frameborder: "0", class: "cv"%>
            <article class="boutons">
                 <%= link_to "Download mon cv", asset_path('cv.pdf'), download: "cv.pdf"%>
                <%= link_to "Partager mon cv", {controller: "candidat", action: "cv_partager"}, target: '_blank'%>
            </article>
        </article>
    </div>
</main>
<%= javascript_pack_tag 'redirect'%>
<%= javascript_pack_tag 'working'%>